

<option value="1400-2000-28"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-2000-28">1400-2000-28 (OxyGo
    FIT with two 8-Cell Batteries)</option>
<option value="1400-3000" data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3000">
    1400-3000 (OxyGo NEXT with 8-Cell Battery)</option>
<option value="1400-3000-16"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3000-16">1400-3000-16 (OxyGo
    NEXT with 16-Cell Battery)</option>
<option value="1400-3000-28"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3000-28">1400-3000-28 (OxyGo
    NEXT with two 8-Cell Batteries)</option>
<option value="1400-3000-8-16"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3000-8-16">1400-3000-8-16
    (OxyGo NEXT with 8 and 16-Cell Batteries)</option>
<option value="14000-3000-216"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$14000-3000-216">14000-3000-216
    (OxyGo NEXT with two 16-Cell Batteries)</option>
<option value="1400-1060" data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1060">
    1400-1060 (OxyGo 4-Setting Columns (pair))</option>
<option value="1400-1061" data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1061">
    1400-1061 (OxyGo 5-Setting Columns (pair))</option>
<option value="1400-2060" data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-2060">
    1400-2060 (OxyGo FIT Columns (pair))</option>
<option value="1400-3060" data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3060">
    1400-3060</option>
<option value="1170-3441 (OxyGo NEXT Slim Backpack)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-3441 (OxyGo NEXT Slim Backpack)">
    1170-3441 (OxyGo NEXT Slim Backpack)</option>
<option value="1170-3410 (OxyGo NEXT Carry Bag)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-3410 (OxyGo NEXT Carry Bag)">
    1170-3410 (OxyGo NEXT Carry Bag)</option>
<option value="1400-3010-8 (OxyGo NEXT 8-Cell Battery)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3010-8 (OxyGo NEXT 8-Cell Battery)">
    1400-3010-8 (OxyGo NEXT 8-Cell Battery)</option>
<option value="1400-3010-16 (OxyGo NEXT 16-Cell Battery)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3010-16 (OxyGo NEXT 16-Cell Battery)">
    1400-3010-16 (OxyGo NEXT 16-Cell Battery)</option>
<option value="1400-3040 (OxyGo NEXT AC Power Supply)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3040 (OxyGo NEXT AC Power Supply)">
    1400-3040 (OxyGo NEXT AC Power Supply)</option>
<option value="1400-1050 (DC Power Cord ALL)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1050 (DC Power Cord ALL)">
    1400-1050 (DC Power Cord ALL)</option>
<option value="1400-3030 (OxyGo NEXT Desktop Battery Charger)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3030 (OxyGo NEXT Desktop Battery Charger)">
    1400-3030 (OxyGo NEXT Desktop Battery Charger)</option>
<option value="1400-3060 (OxyGo NEXT Columns (pair))"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-3060 (OxyGo NEXT Columns (pair))">
    1400-3060 (OxyGo NEXT Columns (pair))</option>
<option value="1170-3442 (OxyGo Custom Cart (NEXT and 5-Setting))"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-3442 (OxyGo Custom Cart (NEXT and 5-Setting))">
    1170-3442 (OxyGo Custom Cart (NEXT and 5-Setting))</option>
<option value="1170-3420 (OxyGo NEXT Backpack)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-3420 (OxyGo NEXT Backpack)">
    1170-3420 (OxyGo NEXT Backpack)</option>
<option value="1170-2420 (OxyGo FIT Backpack)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-2420 (OxyGo FIT Backpack)">
    1170-2420 (OxyGo FIT Backpack)</option>
<option value="1170-2430 (OxyGo FIT Hip Pack)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-2430 (OxyGo FIT Hip Pack)">
    1170-2430 (OxyGo FIT Hip Pack)</option>
<option value="1170-2410 (OxyGo FIT Protective Bag)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-2410 (OxyGo FIT Protective Bag)">
    1170-2410 (OxyGo FIT Protective Bag) </option>
<option value="1400-2030 (OxyGo FIT Desktop Battery Charger)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-2030 (OxyGo FIT Desktop Battery Charger)">
    1400-2030 (OxyGo FIT Desktop Battery Charger)</option>
<option value="1170-2415 (OxyGo FIT Carry Strap)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-2415 (OxyGo FIT Carry Strap)">
    1170-2415 (OxyGo FIT Carry Strap)</option>
<option value="1400-2040 (OxyGo FIT AC Power Supply)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-2040 (OxyGo FIT AC Power Supply)">
    1400-2040 (OxyGo FIT AC Power Supply)</option>
<option value="1170-1445 (Accessory Bag)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-1445 (Accessory Bag)">
    1170-1445 (Accessory Bag)</option>
<option value="1170-2440 (OxyGo FIT Slim Backpack)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-2440 (OxyGo FIT Slim Backpack)">
    1170-2440 (OxyGo FIT Slim Backpack)</option>
<option value="1400-2060 (OxyGo FIT OxyGo FIT Columns (pair))"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-2060 (OxyGo FIT OxyGo FIT Columns (pair))">
    1400-2060 (OxyGo FIT OxyGo FIT Columns (pair))</option>
<option value="1400-1010-8 (OxyGo 5 Setting 8-Cell Battery)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1010-8 (OxyGo 5 Setting 8-Cell Battery)">
    1400-1010-8 (OxyGo 5 Setting 8-Cell Battery)</option>
<option value="1400-1010-16 (OxyGo 5 Setting 16-Cell Battery)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1010-16 (OxyGo 5 Setting 16-Cell Battery)">
    1400-1010-16 (OxyGo 5 Setting 16-Cell Battery)</option>
<option value="1400-1030 (OxyGo 5 Setting Desktop Charger)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1030 (OxyGo 5 Setting Desktop Charger)">
    1400-1030 (OxyGo 5 Setting Desktop Charger)</option>
<option value="1170-1420 (OxyGo 5 Setting Backpack)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-1420 (OxyGo 5 Setting Backpack)">
    1170-1420 (OxyGo 5 Setting Backpack)</option>
<option value="1170-1410 (OxyGo 5 Setting Protective Bag)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-1410 (OxyGo 5 Setting Protective Bag)">
    1170-1410 (OxyGo 5 Setting Protective Bag)</option>
<option value="1170-1415 (OxyGo 5 Setting Carry Bag Shoulder Strap)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-1415 (OxyGo 5 Setting Carry Bag Shoulder Strap)">
    1170-1415 (OxyGo 5 Setting Carry Bag Shoulder Strap)</option>
<option value="1400-1061 (OxyGo 5 Setting Columns (pair))"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1061 (OxyGo 5 Setting Columns (pair))">
    1400-1061 (OxyGo 5 Setting Columns (pair))</option>
<option value="1170-1480 (OxyGo 5 Setting Cart)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1170-1480 (OxyGo 5 Setting Cart)">
    1170-1480 (OxyGo 5 Setting Cart)</option>
<option value="1400-1040 (OxyGo 5 Setting AC Power Supply)"
    data-reactid=".hbspt-forms-0.1:$3.1:$part_number__rev2_.$part_number__rev2_.0.1:$1400-1040 (OxyGo 5 Setting AC Power Supply)">
    1400-1040 (OxyGo 5 Setting AC Power Supply)</option>





    <!-- {% if SUB_TOTALS|length > 0 %}
    <h3>Subtotals</h3>
    <table>
      <tbody>
        {% if SUB_TOTALS.one_time %}
          <tr>
            <td>
              One-time subtotal
            </td>
            <td>
              {{ SUB_TOTALS.one_time.subTotal|format_currency(LOCALE, CURRENCY, true) }}</td>
          </tr>
        {% endif %}

        {% if SUB_TOTALS.monthly %}
          <tr>
            <td>
              Monthly recurring subtotal
            </td>
            <td>
              {{ SUB_TOTALS.monthly.subTotal|format_currency(LOCALE, CURRENCY, true) }} / month
            </td>
          </tr>
        {% endif %}

        {% if SUB_TOTALS.quarterly %}
          <tr>
            <td>
              Quarterly recurring subtotal
            </td>
            <td>
              {{ SUB_TOTALS.quarterly.subTotal|format_currency(LOCALE, CURRENCY, true) }} / quarter
            </td>
          </tr>
        {% endif %}

        {% if SUB_TOTALS.per_six_months %}
          <tr>
            <td>
              Monthly recurring subtotal
            </td>
            <td>
              {{ SUB_TOTALS.per_six_months.subTotal|format_currency(LOCALE, CURRENCY, true) }} / six months
            </td>
          </tr>
        {% endif %}

        {% if SUB_TOTALS.annually %}
          <tr>
            <td>
              Annually recurring subtotal
            </td>
            <td>
              {{ SUB_TOTALS.annually.subTotal|format_currency(LOCALE, CURRENCY, true) }} / per year
            </td>
          </tr>
        {% endif %}

        {% if SUB_TOTALS.per_two_years %}
          <tr>
            <td>
              Per two years recurring subtotal
            </td>
            <td>
              {{ SUB_TOTALS.per_two_years.subTotal|format_currency(LOCALE, CURRENCY, true) }} / per two years
            </td>
          </tr>
        {% endif %}

        {% if SUB_TOTALS.per_three_years %}
          <tr>
            <td>
                Per three years recurring subtotal
            </td>
            <td>
              {{ SUB_TOTALS.per_three_years.subTotal|format_currency(LOCALE, CURRENCY, true) }} / per three years
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% endif %} -->








<!-- TOTALS 10:09AM
  {% if ADDITIONAL_FEES|length > 0 %}
  <h3>Other Fees</h3>
  <table>
    <tbody>
      
      {% for fee in ADDITIONAL_FEES %}
      <tr>
        <td>
          {{ fee.name }}
        </td>
        <td>
          {{ fee.category == "DISCOUNT" ? "-" : null }}
          {% if fee.isPercentage %}
            {{ fee.amount }} %
          {% else %}
            {{ fee.amount|format_currency(LOCALE, CURRENCY, true)}}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% if SUB_TOTALS.monthly %}
<div class="total-container" style="text-align: right;">
              <img src="https://f.hubspotusercontent00.net/hubfs/2739300/A8%20icons/tech-stack.png"/>
  <div class="total-text-container">
              <p style="margin-bottom: 0px;">
                  Recurring Total
              </p>
              <h3 style="margin-top: 0px; padding-right: 30px;">
                                   {{ SUB_TOTALS.monthly.subTotal|format_currency(LOCALE, CURRENCY, true) }} / month
                  </h3>
              </div>
</div>
          {% endif %}
          {% if SUB_TOTALS.one_time %}
 <div class="total-container" style="text-align: right;">
              <img src="https://f.hubspotusercontent00.net/hubfs/2739300/A8%20icons/tech-stack.png"/>
  <div class="total-text-container">
              <p style="margin-bottom: 0px;">
                  One Time Total
              </p>
              <h3 style="margin-top: 0px; padding-right: 30px;">
                                   {{ SUB_TOTALS.one_time.subTotal|format_currency(LOCALE, CURRENCY, true) }}
                  </h3>
              </div>
</div>
{% endif %} -->